
	:root {
	--porcelain: #fdfaf6;
	--parchment: #F9F4EE;
	--border: #e2d5c8;
	--cream: #e8d5c4;
	--brown: #7a5c3f;
	--ink: #2a2118;
	--maroon: #762940;
	--dusty: #9e8e7e;
	--sage: #8a9e82;
	
	}
	
	* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	
	body {
	font-family: 'DM Sans', sans-serif;
	background: var(--parchment);
	color: var(--ink);
	overflow-x: hidden;
	}


    * { margin: 0; padding: 0; box-sizing: border-box; }

    html { scroll-behavior: smooth; }

    body {
      font-family: 'DM Sans', sans-serif;
      background: var(--porcelain);
      color: var(--ink);
      overflow-x: hidden;
    }
